// _footer.scss
.footer {
  /* include variable */
  background-color: $tertiary-color;
  /* include mixin */
  @include flex-center;
  height: 60px;
  color: white;
  .btn {
    // lightgrey
    background-color: $secondary-color;
  }
}