// _header.scss
.header {
  /* include variable */
  background-color: $primary-color;
  /* include mixin */
  @include flex-center;
  height: 100px;
  color: white;
  .btn {
    // steelblue
    background-color: $primary-color;
  }
}